body {
	text-align: center;
}

.container{
	border: 2px dotted gray;
	border-bottom: solid gray;
 	padding: 8px;
	display: inline-block;
}

/* Header */
h1 {
	text-align: center;
	margin-bottom: 15px;
}

img {
	width: -webkit-fill-available;
	margin-bottom: 15px;
}

/* Animal information */
.info {
	background-color: beige;
	font-size: 1.2em;
	border-radius: 25px;
	width: -webkit-fill-available;
	padding: 5px;
}

p {
	padding: auto 8px;
	text-align: justify;
    text-justify: inter-word;
}

.fact {
	font-style: italic;
}

ul {
	list-style: none;
}
li span {
	font-weight: bold;
}

/* container width and font size responsiveness  */
@media screen and (max-width: 280px) {
	.info {
		font-size: x-large;
	}
}

@media screen and (min-width: 370px) {
	.container{
		width: 375px; 
	}
}

@media screen and (min-width: 1000px) {
	.container{
		width: 450px; 
	}
	.info {
		font-size: 1.3em;
	}
}